@using ClinicApp.Infrastructure
@using ClinicApp.Models.Users
@model VisitListViewModel
@{
    ViewData["Title"] = "View visits";
}

<div class="container py-3 text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    
    @if(Model.Visits.Any())
    {
        <table class="table table-borderless table-striped table-hover">
            <thead>
            <tr>
                <th>Date</th>
                <th>Patient name</th>
                <th>Doctor name</th>
                <th>Status</th>
                @if (User.IsInRole(Constants.Roles.DoctorRoleName))
                {
                    <th>Edit description</th>
                    <th>Mark as finished</th>
                }
                else
                {
                    <th>View description</th>
                }
                <th>Cancel</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var visit in Model.Visits)
            {
                <tr>
                    <td>@visit.Date</td>
                    <td>@visit.Patient.DisplayName</td>
                    <td>@visit.Doctor.DisplayName</td>
                    <td>@visit.VisitStatus.Name</td>
                    
                    @if (User.IsInRole(Constants.Roles.DoctorRoleName))
                    {
                        <td><a asp-action="Edit" asp-route-id="@visit.Id" class="btn btn-outline-primary rounded-pill">Edit</a></td>
                        <td>
                            <form asp-action="Complete" method="post">
                                <input type="hidden" asp-for="@Model.SelectedVisitId" value="@visit.Id" />
                                <button class="btn btn-outline-success rounded-pill" type="submit">Complete</button>
                            </form>
                        </td>
                    }
                    else
                    {
                        <td><a asp-action="Description" asp-route-id="@visit.Id" class="btn btn-outline-primary rounded-pill">View</a></td>
                    }
                    <td>
                        <form asp-action="Cancel" method="post">
                            <input type="hidden" asp-for="@Model.SelectedVisitId" value="@visit.Id"/>
                            @if (visit.VisitStatusId == (byte)VisitStatusEnum.Finished)
                            {
                                <button class="btn btn-outline-danger rounded-pill" type="submit" disabled>Cancel</button>
                            }
                            else
                            {
                                <button class="btn btn-outline-danger rounded-pill" type="submit">Cancel</button>
                            }
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p class="h4 text-muted">There aren't any visits.</p>
    }
</div>
