@model VisitViewModel
@{
    ViewData["Title"] = "Sign up for a visit";
}

<div class="container py-3 text-center">
    <h1 class="display-4 mb-3">@ViewData["Title"]</h1>
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary rounded-pill">Back</a>
    
    <div asp-validation-summary="All" class="text-start text-danger"></div>

    @if (Model is { PatientId: not null, IsActivated: true })
    {
        @if (Model.AvailableVisits != null && Model.AvailableVisits.Any())
        {
            <div class="text-start my-3">
                @foreach (var group in Model.AvailableVisits.GroupBy(v => v.Date))
                {
                    <div class="card my-2">
                        <div class="card-body">
                            <h2 class="h4">@group.Key.ToShortDateString()</h2>

                            <div class="row row-cols-auto g-2">
                                @foreach (var dateTime in group)
                                {
                                    <div class="col">
                                        <form asp-action="SignUp" method="post">
                                            <input type="hidden" asp-for="PatientId" value="@Model.PatientId"/>
                                            <input type="hidden" asp-for="DoctorId" value="@Model.DoctorId"/>
                                            <input type="hidden" asp-for="Date" value="@dateTime"/>
                                            <input type="hidden" asp-for="IsActivated" value="@Model.IsActivated"/>
                                            <button class="btn btn-sm btn-outline-success rounded-pill" type="submit">@dateTime.ToShortTimeString()</button>
                                        </form>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                }
            </div>
        }
        else
        {
            <p class="h4 text-muted my-3">This doctor does not have any available visits slots.</p>
        }
    }
    else
    {
        <p class="h6 text-danger my-3">You must be logged in as a patient and have your account activated in order to sign up for a visit.</p>
    }
</div>